*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-image: linear-gradient(to right, #589ceb, #09368b);
}

.calculator-grid {
    display: grid;
    margin-top: 5rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 4rem);
    
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(255, 255, 255, .75);
}
.calculator-grid > button:hover,
.calculator-grid > button:focus {
    background-color: rgb(255, 255, 255, .9);
}

.output .previous-operand {
    color: rgb(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}